version: '3.9'

services:
  site:
    container_name: site
    image: registry.gitlab.com/race-service/site-react:latest
    ports:
      - "4081:80"
    depends_on: 
      - api
    restart: unless-stopped
    networks:
      app_default:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.site.rule=PathPrefix(`/`)"

  api:
    container_name: api
    image: registry.gitlab.com/race-service/api-service:latest
    environment:
      LOG_LEVEL: warn
      SERVER_PORT: 80
      DATABASE_URL: "postgresql://{{ vault_postgres.user }}:{{ vault_postgres.password }}@postgres:{{ postgres.port }}/{{ postgres.db_name }}"
    ports:
      - "4082:80"
    depends_on: 
      - postgres
    restart: unless-stopped
    networks:
      app_default:
      postgres:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=PathPrefix(`/api`)"
  
  postgres:
    container_name: postgres_container
    image: "postgres:14.0-alpine"
    environment:
      POSTGRES_USER: {{ vault_postgres.user }}
      POSTGRES_PASSWORD: {{ vault_postgres.password }}
      POSTGRES_DB: {{ postgres.db_name }}
      PGDATA: /data/postgres
    volumes:
       - postgres:/data/postgres
    ports:
      - "{{ postgres.port }}:5432"
    restart: unless-stopped
    networks:
      - postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ vault_postgres.user }} -d {{ postgres.db_name }}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 4G

networks:
  app_default:
  postgres:
    driver: bridge

volumes:
    postgres:
