version: '3.9'

services:
  traefik:
    container_name: traefik
    image: "traefik:v2.5"
    restart: always
    ports:
      - "{{ traefik.ports.http }}:80"
      - "{{ traefik.ports.dashboard }}:8080"
    networks:
      - app_default
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./configs/traefik:/etc/traefik:ro"
      - "letsencrypt:/letsencrypt"

volumes:
  letsencrypt:

networks:
  app_default:
    external: true
