[Unit]
Description=Docker Compose Service
Requires=docker.service
After=docker.service
[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory={{ compose_service_workdir }}
ExecStart={{ compose_path }} up -d --remove-orphans
ExecStop={{ compose_path }} down
[Install]
WantedBy=multi-user.target
